<tr>
  <%# image %>
  <td>
    <%= @order.line_items.product %>
  </td>
  <%# name %>
  
  <td>
   <%= @order.line_items.inspect %>
  </td>
  <%# description %>
  <%# quantity %>
  <%# totals %>
</tr>